* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
 
body {
    background-color: #181220;
    color: white;
}
 
/* Header fixo */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adicionando um pouco de padding */
    background-color: #10091E;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

main{
    margin-top: 10rem;
}

.opcoes1 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /* Alinhando verticalmente */
    margin-left: 8px;
}
 
.opcoes1 img {
    height: 90px; /* Definindo uma altura para o logo */
}
 
.opcoes1 ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 35px
}
 
.opcoes1 li {
    margin: 0 15px; /* Espaço entre os itens do menu */
    margin-left: 10px;
}
 
.opcoes1 a {
    color: white !important;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
 
.opcoes1 a:hover {
    transform: translateY(-3px);
}
 
.opcoes1 a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #7d68f1;
    bottom: -5px;
    left: 50%;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
 
.opcoes1 a:hover::after {
    width: 100%;
    left: 0;
}
 
.login-btn {
    background-color: #9400FF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-left: 980px;
}
 
.login-btn:hover {
    background-color: #7d68f1;
}

