/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A1220;
    color: whitesmoke;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0C0512;
    padding: 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    font-size: 27px;
}

.menu li {
    list-style: none;
    margin: 30px;
}

.menu li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #A020F0;
}

.login-btn {
    background-color: #8B1EFF;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #A020F0;
}

#abas {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-bottom: 1px solid #FFFFFF33;
}

#abas input[type="text"] {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    width: 300px;
    background-color: #333;
    color: #ddd;
    font-size: 0.9rem;
}

#abas ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

#abas li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    opacity: 0.8;
}

#abas li a:hover {
    opacity: 1;
    border-bottom: 2px solid #8B1EFF;
}
#carrossel img {
    width: 100%; /* Faz com que a imagem principal ocupe toda a largura da coluna */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Adiciona bordas arredondadas, se desejar */
}

.carrossel-imagem-lateral img {
    width: 64px; /* Define a largura das imagens laterais */
    height: auto; /* Mantém a proporção da imagem lateral */
    border-radius: 8px; /* Borda arredondada opcional para as imagens laterais */
    transition: transform 0.3s ease; /* Animação para o efeito de hover */
}

.carrossel-imagem-lateral img:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}


.carrossel-imagem-lateral {
    padding: 10px; /* Espaçamento em torno da lista lateral */
}

.vendidos {
    padding: 20px 30px;
}

.vendidos nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.vendidos li img {
    width: 160px;
    height: 220px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.vendidos li img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #1C1324;
    padding: 20px 30px;
    text-align: center;
    color: #FFFFFF;
    font-size: 0.8rem;
}

footer a {
    margin: 0 10px;
}

footer img {
    width: 20px;
    vertical-align: middle;
    opacity: 0.8;
    transition: opacity 0.3s;
}

footer img:hover {
    opacity: 1;
}
